<table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%"
    style="border-collapse:collapse;height:100%;margin:0;padding:0;width:100%;background-color:#cdecf9">
    <tbody>
        <tr>
            <td align="center" valign="top"
                style="height:100%;margin:0;padding:10px;width:100%;border-top:0">
                <table border="0" cellpadding="0" cellspacing="0" width="100%"
                    style="border-collapse:collapse;border:0;max-width:600px!important">
                    <tbody>
                        <tr>
                            <td valign="top"
                                style="background:#cdecf9 none no-repeat center/cover;background-color:#cdecf9;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:0">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                    style="min-width:100%;border-collapse:collapse">
                                    <tbody>
                                        <tr>
                                            <td valign="top" style="padding:0px">
                                                <table align="left" width="100%" border="0" cellpadding="0"
                                                    cellspacing="0" style="min-width:100%;border-collapse:collapse">
                                                    <tbody>
                                                        <tr>
                                                            <td valign="top"
                                                                style="padding-right:0px;padding-left:0px;padding-top:0;padding-bottom:0;text-align:center">

                                                                <a href="https://bit.camp"
                                                                    title="" target="_blank"
                                                                    data-saferedirecturl="https://bit.camp">
                                                                    <img align="center" alt="Bitcamp"
                                                                        src="https://bitcamp-assets.s3.amazonaws.com/bitcamp-brand/logos/badge.png"
                                                                        width="125"
                                                                        style="max-width:250px;padding-bottom:25px;display:inline!important;vertical-align:bottom;border:0;height:auto;outline:none;text-decoration:none">
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top"
                                style="background:#ffffff none no-repeat center/cover;background-color:#ffffff;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:2px solid #eaeaea;padding-top:18px;padding-bottom:9px">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                    style="min-width:100%;border-collapse:collapse">
                                    <tbody>
                                        <tr>
                                            <td valign="top" style="padding-top:9px">
                                                <table align="left" border="0" cellpadding="0" cellspacing="0"
                                                    style="max-width:100%;min-width:100%;border-collapse:collapse"
                                                    width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td valign="top"
                                                                style="padding:0px 18px 9px;font-family:&quot;Open Sans&quot;,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;line-height:150%;word-break:break-word;color:#202020;font-size:15px;text-align:left">
                                                                <h1
                                                                    id="header"
                                                                    style="text-align:center;display:block;margin:0;padding:0;color:#202020;font-family:'Lato','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:26px;font-style:normal;font-weight:bold;line-height:125%;letter-spacing:normal">
                                                                    Hey {{name}}!
                                                                </h1>
                                                                <p style="color: #202020;">We're excited to have you join us at Bitcamp 2026! <br> <br>
                                                                    We noticed that on your registration form you'll be under 18 by the time Bitcamp rolls around. <strong>For legal reasons, we'll need you to fill out 
                                                                    <a href="https://forms.gle/6SS6oFnHFWBEdUYN8">this minors application</a> to complete your registration.</strong>
                                                                    You can also find this on our website at <a href="https://bit.camp">bit.camp</a>! If you have any questions, contact us at 
                                                                    <a href="mailto:hello@bit.camp">hello@bit.camp</a> and we'll be happy to help you out! <br><br>
                                                                    
                                                                    <strong>Please also fill out <a href="{{link}}">this RSVP form</a> so that we have a better idea of how many people are coming to Bitcamp 2026!</strong>
                                                                </p>
                                                                
                                                                <p style="color: #202020;">See you by the campfire! <br> The Bitcamp Organizing Team</p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top"
                                style="background:#cdecf9 none no-repeat center/cover;background-color:#cdecf9;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                    style="min-width:100%;border-collapse:collapse">
                                    <tbody>
                                        <tr>
                                            <td valign="top" style="padding-top:9px">
                                                <table align="left" border="0" cellpadding="0" cellspacing="0"
                                                    style="max-width:100%;min-width:100%;border-collapse:collapse"
                                                    width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td valign="top"
                                                                style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#656565;font-family:'Lato','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:12px;line-height:150%;text-align:left">
                                                                <div style="text-align:center"><em>Copyright &copy; 2024
                                                                        Bitcamp, All rights reserved.</em><br>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>