<table
  align="center"
  border="0"
  cellpadding="0"
  cellspacing="0"
  height="100%"
  width="100%"
  style="
    border-collapse: collapse;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #cdecf9;
  "
>
  <tbody>
    <tr>
      <td
        align="center"
        valign="top"
        style="
          height: 100%;
          margin: 0;
          padding: 10px;
          width: 100%;
          border-top: 0;
        "
      >
        <table
          border="0"
          cellpadding="0"
          cellspacing="0"
          width="100%"
          style="
            border-collapse: collapse;
            border: 0;
            max-width: 600px !important;
          "
        >
          <tbody>
            <tr>
              <td
                valign="top"
                style="
                  background: #cdecf9 none no-repeat center/cover;
                  background-color: #cdecf9;
                  background-image: none;
                  background-repeat: no-repeat;
                  background-position: center;
                  background-size: cover;
                  border-top: 0;
                  border-bottom: 0;
                  padding-top: 9px;
                  padding-bottom: 0;
                "
              >
                <table
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                  width="100%"
                  style="min-width: 100%; border-collapse: collapse"
                >
                  <tbody>
                    <tr>
                      <td valign="top" style="padding: 0px">
                        <table
                          align="left"
                          width="100%"
                          border="0"
                          cellpadding="0"
                          cellspacing="0"
                          style="min-width: 100%; border-collapse: collapse"
                        >
                          <tbody>
                            <tr>
                              <td
                                valign="top"
                                style="
                                  padding-right: 0px;
                                  padding-left: 0px;
                                  padding-top: 0;
                                  padding-bottom: 0;
                                  text-align: center;
                                "
                              >
                                <a
                                  href="https://bit.camp"
                                  title=""
                                  target="_blank"
                                  data-saferedirecturl="https://bit.camp"
                                >
                                  <img
                                    align="center"
                                    alt="Bitcamp"
                                    src="https://bitcamp-assets.s3.amazonaws.com/bitcamp-brand/logos/badge.png"
                                    width="125"
                                    style="
                                      max-width: 250px;
                                      padding-bottom: 25px;
                                      display: inline !important;
                                      vertical-align: bottom;
                                      border: 0;
                                      height: auto;
                                      outline: none;
                                      text-decoration: none;
                                    "
                                  />
                                </a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td
                valign="top"
                style="
                  background: #ffffff none no-repeat center/cover;
                  background-color: #ffffff;
                  background-image: none;
                  background-repeat: no-repeat;
                  background-position: center;
                  background-size: cover;
                  border-top: 0;
                  border-bottom: 2px solid #eaeaea;
                  padding-top: 18px;
                  padding-bottom: 9px;
                "
              >
                <table
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                  width="100%"
                  style="min-width: 100%; border-collapse: collapse"
                >
                  <tbody>
                    <tr>
                      <td valign="top" style="padding-top: 9px">
                        <table
                          align="left"
                          border="0"
                          cellpadding="0"
                          cellspacing="0"
                          style="
                            max-width: 100%;
                            min-width: 100%;
                            border-collapse: collapse;
                          "
                          width="100%"
                        >
                          <tbody>
                            <tr>
                              <td
                                valign="top"
                                style="
                                  padding: 0px 18px 9px;
                                  font-family: 'Open Sans', 'Helvetica Neue',
                                    Helvetica, Arial, sans-serif;
                                  line-height: 150%;
                                  word-break: break-word;
                                  color: #202020;
                                  font-size: 15px;
                                  text-align: left;
                                "
                              >
                                <h1
                                  id="header"
                                  style="
                                    text-align: center;
                                    display: block;
                                    margin: 0;
                                    padding: 0;
                                    color: #202020;
                                    font-family: 'Lato', 'Helvetica Neue',
                                      Helvetica, Arial, sans-serif;
                                    font-size: 26px;
                                    font-style: normal;
                                    font-weight: bold;
                                    line-height: 125%;
                                    letter-spacing: normal;
                                  "
                                >
                                  Hello {{name}}!
                                </h1>
                                <p style="color: #202020">
                                  We hope you're as excited as we are for
                                  Bitcamp this weekend! We wanted to send a
                                  reminder to fill out the
                                  <a
                                    href="https://docs.google.com/forms/d/e/1FAIpQLScGHABG_fjzWgXYkqnf6uRIAg4NCy35N4g6PAu1sv1dvfrNqw/viewform"
                                    >sub-track selection form</a
                                  >. This form is to indicate whether you will
                                  be pursuing the Beginner Quantum track or the
                                  Advanced Quantum track.
                                </p>
                                <p style="color: #202020">
                                  <strong
                                    >Please fill out this form as soon as
                                    possible</strong
                                  >
                                  as it will allow us to have an accurate
                                  headcount and provide the best possible
                                  experience for everyone registered for this
                                  track. If you’ve already filled out this form,
                                  no further action is needed at this time.
                                </p>
                                <p style="color: #202020">
                                  We appreciate your time and look forward to
                                  welcoming you to a great Bitcamp weekend!
                                </p>

                                <p style="color: #202020">
                                  See you by the campfire!
                                  <br />
                                  The Bitcamp Organizing Team
                                </p>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td
                valign="top"
                style="
                  background: #cdecf9 none no-repeat center/cover;
                  background-color: #cdecf9;
                  background-image: none;
                  background-repeat: no-repeat;
                  background-position: center;
                  background-size: cover;
                  border-top: 0;
                  border-bottom: 0;
                  padding-top: 9px;
                  padding-bottom: 9px;
                "
              >
                <table
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                  width="100%"
                  style="min-width: 100%; border-collapse: collapse"
                >
                  <tbody>
                    <tr>
                      <td valign="top" style="padding-top: 9px">
                        <table
                          align="left"
                          border="0"
                          cellpadding="0"
                          cellspacing="0"
                          style="
                            max-width: 100%;
                            min-width: 100%;
                            border-collapse: collapse;
                          "
                          width="100%"
                        >
                          <tbody>
                            <tr>
                              <td
                                valign="top"
                                style="
                                  padding-top: 0;
                                  padding-right: 18px;
                                  padding-bottom: 9px;
                                  padding-left: 18px;
                                  word-break: break-word;
                                  color: #656565;
                                  font-family: 'Lato', 'Helvetica Neue',
                                    Helvetica, Arial, sans-serif;
                                  font-size: 12px;
                                  line-height: 150%;
                                  text-align: left;
                                "
                              >
                                <div style="text-align: center">
                                  <em
                                    >Copyright &copy; 2023 Bitcamp, All rights
                                    reserved.</em
                                  ><br />
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
