@font-face {
  font-family: 'DIN Pro';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  font-display: swap;
  src: local('DIN Pro'), url('./DINPro.woff2') format('woff2');
}
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"); /* Noto Sans */

body {
  background-image: url("./hero-clouds.png");
  background-size: cover;
  /*centered on x, starting 56px lower than top for y so that the navbar doesn't cover image*/
  background-position: center 56px;
  background-repeat: no-repeat;
  height: 100vh;
}

/* COLORS */
:root {
  --cyan: #00ffff;
  --muted-cyan: #82ecec;
  --lavender: #b6a1c4;
  --light-lavender: #ded2e5;
  --rose: #ff7bac;
  --white: #ffffff;
  --black: #000000;
  --asphalt-grey: #2d2d2d;
  --charcoal-grey: #464343;
}

body {
  font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "DIN Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Header 1 */
h1 {
  line-height: 1.5;
  font-size: 2.5em;
  color: var(--black);
}

p {
  color: var(--asphalt-grey);
  font-size: 1.1rem;
}

label {
  font-size: 0.85rem;
  margin-bottom: 0.2rem;
  margin-left: 0.5rem;
  color: var(--charcoal-grey);
}

/* Body 2 */
.body-2 {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}


.main-card {
  border-radius: 1rem;
  margin-bottom: 5.5rem !important;
}

@media (min-width: 992px) {
  .main-card {
    margin-bottom: 0.25rem !important;
  }
}


/* Google autocomplete styles */
.pac-container {
  font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
}
