// Custom modifications to bootstrap theme

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 900px,
  xl: 900px
);

@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/bootstrap-vue/src/index.scss';
